.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    backdrop-filter: blur(4px);
  }
  
  /* Pannello dettaglio */
  .overlay-panel {
    background: #131313fa;
    width: 400px;
    max-width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  }